@model DashboardStatisticViewModel

<h4 class="display-4 text-center">Администраторски панел:</h4>
<hr />
@section Styles {
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

<div class="row">
    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-info">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>Добави</h3>
                        <p>доктор</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="SearchDoctor" class="small-box-footer">Добави <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-success">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllDoctorCount</h3>
                        <p>доктори в базата</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllDoctor" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-warning">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllDoctorOutCount</h3>
                        <p>изтрити доктори</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllDoctorOut" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-danger">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllUserCount</h3>
                        <p>потребител/и</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllUser" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-secondary">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllReviews<sup style="font-size: 20px">/@Model.AllExamination</sup></h3>
                        <p>отзиви</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-comments"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Review" asp-action="AllReview" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="row mt-2" style="padding-top:20px;">
    <div class="offset-2 col-4">
        <article class="info">
            <figure class="icon text-center"><img src="~/images/award.png" alt=""></figure>
            <p class="text-center">
                <em>
                    <span>Най-добре оценен</span><br />
                    @Model.BestRatingDoctorFullName - @Model.BestDoctorRating
                </em>
            </p>
        </article>
    </div>
    <div class="col-4">
        <article class="info">
            <figure class="icon text-center"><img src="~/images/examination.jpg" alt=""></figure>
            <p class="text-center">
                <em>
                    <span>Най-много прегледи от</span><br />
                    @Model.BestExaminationDoctorFullName - @Model.BestExaminationCount
                </em>
            </p>
        </article>
    </div>
</div>
