@model ShowAllUserViewModel

@section Styles {
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

    <div class="offset-lg-4 offset-sm-4 col-lg-4 col-sm-4">
        <div class="small-box bg-gradient-danger" style="height:100px;">
            <div class="row">
                <div class="col-8">
                    <div class="inner">
                        <h3 class="text-center" style="padding-top:10px;">@Model.TotalUsersCount</h3>
                        <p class="text-center" style="font-weight:bold">@ViewData["Title"]</p>
                    </div>
                </div>
                <div class="col-4" style="position:center;padding-top:15px;">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalUsersCount /
        ShowAllUserViewModel.UsersPerPage);
}

<table class="table table table-bordered">
    <thead style="background-color:#e6e6e6">
        <tr>
            <th scope="col" class="text-center">Име на потребител</th>
            <th scope="col" class="text-center">Потребителско име</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Телефон</th>
            <th scope="col" class="text-center">Регистриран на</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AllUsers)
        {
            <partial name="_UserPartial" model="@user" />
        }
    </tbody>
</table>

<div class="row mt-2 col-12">
    <div class="col-lg-2 col-sm-2">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Administrator"
           asp-action="AllDoctor"
           asp-route-currentPage="@previousPage">Previous</a>
    </div>
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.AllUsers.Any();
    }
    <div class="offset-lg-9 offset-sm-9 col-lg-1 col-sm-1">
        <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Administrator"
           asp-action="AllDoctor"
           asp-route-currentPage="@(Model.CurrentPage+1)">Next</a>
    </div>
</div>