@model AllGiveReviewViewModel

<tr>
    <td scope="row">д-р @Model.DoctorFullName</td>
    <td scope="row">@Model.SpecialityName</td>
    <td scope="row" style="text-align:justify;font-size:14px;">
        <div>
            <em>@Model.Content</em>
        </div>
    </td>
    <td scope="row" class="text-center">@Model.Rating</td>
    <td scope="row" class="text-center">@Model.CreatedOn</td>
</tr>
