@model AllReviewViewModel

<tr>
    <td scope="row" class="text-center">@Model.DoctorFullName</td>
    <td scope="row" class="text-center">@Model.UserFullName</td>
    <td scope="row" style="text-align:justify;font-size:14px;">
        <div>
            <em>@Model.Content</em>
        </div>
    </td>
    <td scope="row" class="text-center">@Model.Rating</td>
    <td scope="row" class="text-center">@Model.CreatedOn</td>
</tr>
