@model IEnumerable<AllReviewViewModel>


@section Styles {
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

<div class="offset-lg-4 offset-sm-4 col-lg-4 col-sm-4">
    <div class="small-box bg-secondary" style="height:100px;">
        <div class="row">
            <div class="col-8">
                <div class="inner">
                    <h3 class="text-center" style="padding-top:10px;">@Model.Count()</h3>
                    <p class="text-center" style="font-weight:bold">@ViewData["Title"]</p>
                </div>
            </div>
            <div class="col-4" style="position:center;padding-top:15px;">
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table table-bordered">
    <thead style="background-color:#e6e6e6">
        <tr>
            <th class="text-center col-lg-3 col-sm-3">Доктор</th>
            <th class="text-center col-lg-3 col-sm-3">Пациент</th>
            <th class="text-center col-lg-6 col-sm-6">Коментар</th>
            <th class="text-center col-lg-1 col-sm-1">Оценка</th>
            <th class="text-center col-lg-2 col-sm-2">Дата на оценяване</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <th scope="row" class="text-center">@review.DoctorFullName</th>
                <th scope="row" class="text-center">@review.UserFullName</th>
                <th scope="row" class="text-center">
                    <textarea class="col-12 " rows="5" readonly>@review.Content</textarea>
                </th>
                <th scope="row" class="text-center">@review.Rating</th>
                <th scope="row" class="text-center">@review.CreatedOn</th>
            </tr>
        }
    </tbody>
</table>
