@model DashboardUserExaminationViewModel

<tr>
    <td scope="row">@Model.Date</td>
    <td scope="row">@Model.Hour</td>
    <td scope="row" class="text-center">@Model.DoctorFullName</td>
    <td scope="row" class="text-center">@Model.Specialty</td>
    <td scope="row" class="text-center">@Model.DoctorPhoneNumber</td>
    <td scope="row" class="text-center">
        <form asp-controller="User" asp-action="CancelExamination" asp-route-id="@Model.ExaminationId" method="get">
            <input type="hidden" value="@Model.ExaminationId" name="examinationId" />
            <input type="submit" value="Отмяна" class="btn btn-outline-danger" onclick="myConfirm(event)" />
        </form>
    </td>
</tr>
