@model BookExaminationViewModel

@{
    ViewData["Title"] = "Запазване на час";
}

<div asp-validation-summary="All" class="text-danger"></div>

@if (Model != null)
{
    @section Styles {
    <link href="~/css/date-picker.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
            <img class="col-lg-12 col-sm-12 col-m-12" src="@Model.ProfileImage" alt="@Model.DoctorFullName">
        </div>
        <div class="col-9">
            <article>
                <h5>@Model.DoctorFullName</h5>
                <h6>@Model.SpecialityName</h6>
            <hr/>
            <p class="text-start">@Model.Representation</p>
            <p class="text-start">@Model.Education</p>
            <p class="text-start">@Model.Biography</p>
            </article>
        </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row justify-content-center mx-0">
            <div class="col-lg-4 col-sm-8">
                <div class="card">
                    <form autocomplete="off">
                        <div class="card-header">
                            <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                                <input type="text" id="dp1" class="datepicker" placeholder="&#xf073; Избор на дата" style="font-family: Arial, FontAwesome, white" name="date" readonly />
                            </div>
                        </div>
                        <div class="card-body p-2 p-sm-2">
                            <div class="row text-center mx-0">
                                @foreach (var hour in Model.WorkHours)
                                {
                                    <div class="col-md-3 col-4 my-1 px-2">
                                        <div class="cell py-1">@hour</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="col-lg-6">
                <br/>
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.ProfileImage" name="profileImage" />
                    <input type="hidden" value="@Model.Biography" name="biography" />
                    <input type="hidden" value="@Model.Education" name="education" />
                    <input type="hidden" value="@Model.Representation" name="representation" />
                    <input type="hidden" value="@Model.SpecialityName" name="specialityName" />
                    <input asp-for="@Model.DoctorId" value="@Model.DoctorId" class="form-control" hidden>
                    <input asp-for="@Model.DoctorId" value="@Model.DoctorId" class="form-control" hidden>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Специалист:</label>
                        <div class="col-sm-9">
                            <div asp-for="@Model.DoctorFullName" class="form-control" hidden></div>
                            <input asp-for="@Model.DoctorFullName" value="@Model.DoctorFullName" class="form-control-plaintext" required readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Дата:</label>
                        <div class="col-sm-9">
                            <div id="selectedDate" asp-for="@Model.Date" class="form-control" hidden></div>
                            <input asp-for="@Model.Date" value="" class="form-control-plaintext" required readonly />
                            <span asp-validation-for="@Model.Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Час:</label>
                        <div class="col-sm-9">
                            <div id="selectedTime" asp-for="@Model.Hour" class="form-control" hidden></div>
                            <input asp-for="@Model.Hour" value="" class="form-control-plaintext" required readonly />
                            <span asp-validation-for="@Model.Hour" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-sm-12 offset-sm-5 col-lg-6 offset-lg-0 mt-2">
                            <button type="submit" class="btn btn-success" id="book-button" asp-controller="User" asp-action="Book">Запази час</button>
                            <a type="submit" class="btn btn-secondary m-3" asp-controller="User" asp-action="UserBoard" >Отказ</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
<script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
<script src="~/js/date-picker.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    var date = new Date();
    $('#ClientTimeZoneOffset').val(date.getTimezoneOffset());
</script>
}
}