@model ShowAllExaminationForReviewViewModel

@section Styles {
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

<div class="row">
    <div class="offset-lg-4 offset-sm-4 col-lg-4 col-sm-4">
        <div class="small-box bg-gradient-secondary" style="height:120px;">
            <div class="row">
                <div class="col-8">
                    <div class="inner">
                        <h3 class="text-center" style="padding-top:10px;">@Model.TotalExaminationsCount</h3>
                        <p class="text-center" style="font-size:14px;padding-left:5px;">@ViewData["Title"]</p>
                    </div>
                </div>
                <div class="col-4" style="position:center;padding-top:15px;">
                    <div class="icon">
                        <i class="fa fa-comments"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 offset-lg-2 offset-sm-1 col-sm-2 mt-sm-3 mt-lg-4">
        <form asp-controller="Review" asp-action="AllGiveReview" method="get">
            <input type="submit" value="Вашите оценки" class="btn btn-success" />
        </form>
    </div>
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalExaminationsCount /
        ShowAllExaminationForReviewViewModel.ExaminationsPerPage);
}

<table class="table table-hover style=" font-size:16px;"">
    <thead class="table">
        <tr>
            <th scope="col">Дата и час на прегледа</th>
            <th scope="col">Доктор (Специалист)</th>
            <th scope="col" colspan="2" class="text-center">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var examination in Model.Examinations)
        {
            <partial name="_ExaminationForReviewPartial" model="@examination" />
        }
    </tbody>
</table>

<div class="row mt-2 col-12">
    <div class="col-lg-2 col-sm-2">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="User"
           asp-action="ExaminationForFeedback"
           asp-route-currentPage="@previousPage">Previous</a>
    </div>
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Examinations.Any();
    }
    <div class="offset-lg-9 offset-sm-9 col-lg-1 col-sm-1">
        <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="User"
           asp-action="ExaminationForFeedback"
           asp-route-currentPage="@(Model.CurrentPage+1)">Next</a>
    </div>
</div>