@model IEnumerable<AllDoctorUserViewModel>

<div class="text-center row offset-lg-1">
    @foreach (var doctor in Model)
    {
        <div class="card col-sm-12 col-lg-5 m-2">
            <div class="row">
                <div class="col-2" style="width: 10rem; ">
                    <img class="card-img-top img-responsive w-100 m-2" style="width: 10rem;" src="@doctor.ProfileImageUrl" alt="Book Image">
                </div>
                <div class="col-lg-8 col-m-5 col-sm-8">

                    <h5 class="card-title mt-1 mb-2">Д-р @doctor.FirstName @doctor.LastName</h5>
                    <h6 class="mb-3">@doctor.SpecialityName</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="first">Телефон:</td>
                                <td class="second">@doctor.PhoneNumber</td>
                            </tr>
                        </tbody>
                    </table>

                    <form class="input-group-sm" asp-controller="User" asp-action="Book" asp-route-doctorId="@doctor.Id" method="get">
                        <input type="hidden" value="@doctor.Id" name="doctorId" />
                        @*<input type="hidden" value="@doctor.SpecialityName" name="specialityName"/>*@
                        <input type="submit" value="Запази час" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                </div>
            </div>
        </div>

    }
</div>
