@model ShowAllUserExaminationViewModel

@section Styles {
<link href="~/css/date-picker.css" rel="stylesheet" asp-append-version="true" />
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

<div class="row">
    @if (Model.Specialty != null || Model.SearchTermDate != null || Model.SearchTermName != null)
    {
        <div class="offset-lg-1 offset-sm-1 col-lg-4 col-sm-4">
            <div class="small-box bg-warning" style="height:120px;">
                <div class="row">
                    <div class="col-8">
                        <div class="inner">
                            <h3 class="text-center" style="padding-top:10px;">@Model.StatistilAllExaminationCount</h3>
                            <p class="text-center" style="font-size:14px;padding-left:5px;">@ViewData["Title"]</p>
                        </div>
                    </div>
                    <div class="col-4" style="position:center;padding-top:15px;">
                        <div class="icon">
                            <i class="fa fa-hourglass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-lg-2 offset-sm-2 col-lg-4 col-sm-4">
            <div class="small-box bg-success" style="height:120px;">
                <div class="row">
                    <div class="col-8">
                        <div class="inner">
                            <h3 class="text-center" style="padding-top:10px;">@Model.TotalExaminationCount</h3>
                            <p class="text-center" style="font-size:14px;padding-left:5px;">часове по зададен филтър</p>
                        </div>
                    </div>
                    <div class="col-4" style="position:center;padding-top:15px;">
                        <div class="icon">
                            <i class="fa fa-hourglass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="offset-lg-4 offset-sm-4 col-lg-4 col-sm-4">
        <div class="small-box bg-warning" style="height:120px;">
            <div class="row">
                <div class="col-8">
                    <div class="inner">
                        <h3 class="text-center" style="padding-top:10px;">@Model.StatistilAllExaminationCount</h3>
                        <p class="text-center" style="font-size:14px;padding-left:5px;">@ViewData["Title"]</p>
                    </div>
                </div>
                <div class="col-4" style="position:center;padding-top:15px;">
                    <div class="icon">
                        <i class="fa fa-hourglass"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalExaminationCount /
        ShowAllUserExaminationViewModel.ExaminationsPerPage);
}

<div class="row">
    <table class="table">
        <thead style="background-color:#e6e6e6">
            <tr scope="col" colspan="12" class="text-center">
                <th scope="col" colspan="12">Филтър по</th>
            </tr>
        </thead>
    </table>
    <form autocomplete="off" method="get">
        <div class="row">
            <div class="card-header col-sm-2 col-lg-3">
                <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                    <select asp-for="Specialty" class="form-control">
                        <option value="">Специалност</option>
                        @foreach (var speciality in Model.Specialties)
                        {
                            <option value="@speciality.Name">@speciality.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="card-header col-sm-3 col-lg-2">
                <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                    <input asp-for="SearchTermDate" type="text" id="dp1" class="datepicker" placeholder="&#xf073; Избор на дата" style="font-family: Arial, FontAwesome, white;border: 1px solid #ced4da;" name="SearchTermDate" readonly />
                </div>
            </div>

            <div class="card-header col-sm-3 col-lg-3">
                <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                    <input asp-for="SearchTermName" class="form-control" placeholder="Име лекар">
                </div>
            </div>

            <div class="card-header col-sm-2 col-lg-1">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Търси</button>
                </div>
            </div>

            <div class="card-header col-sm-2 col-lg-3">
                <div class="form-group">
                    <a class="btn btn-warning" type="reset"
                       asp-controller="User"
                       asp-action="UserExamination">Изчистване</a>
                </div>
            </div>
        </div>
    </form>
</div>

@if (Model.TotalExaminationCount == 0)
{
    <h3 class="text-center" style="padding:50px;font-family:Monospace"><em>Няма записани часове за преглед по зададения филтър!</em></h3>
}
else
{
    <table class="table table-hover" style="font-size:16px;">
        <thead class="table">
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Час</th>
                <th scope="col" class="text-center">Доктор</th>
                <th scope="col" class="text-center">Специалист</th>
                <th scope="col" class="text-center">Телефон</th>
                <th scope="col" class="text-center">Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var examination in Model.Examinations)
            {
                <partial name="_ExaminationUserPartial" model="@examination" />
            }
        </tbody>
    </table>

    <div class="row mt-2 col-12">
        <div class="col-lg-2 col-sm-2">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="User"
           asp-action="UserExamination"
           asp-route-currentPage="@previousPage">Previous</a>
        </div>
        @{
            var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
            !Model.Examinations.Any();
        }
        <div class="offset-lg-9 offset-sm-9 col-lg-1 col-sm-1">
            <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="User"
           asp-action="UserExamination"
           asp-route-currentPage="@(Model.CurrentPage+1)">Next</a>
        </div>
    </div>
}

@section Scripts {
<script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
<script src="~/js/date-picker.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    var date = new Date();
    $('#ClientTimeZoneOffset').val(date.getTimezoneOffset());
</script>
<script>
    function myConfirm(e) {
        e.preventDefault();
        Swal.fire({
            title: 'Желаете ли да изтриете прегледа?',
            text: "Действието не може да бъде върнато",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Да, изтрий!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Изтрит!',
                    'Изтрихте преглед.',
                    'success'
                ).then((resultDeleted) => {
                    e.target.parentElement.submit();
                })
            }
        })
    }
</script>
}