@model ShowAllDoctorUserViewModel

 @section Styles {
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
 }

    @{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalDoctorsCount /
        ShowAllDoctorUserViewModel.DoctorsPerPage);
}


<div class="text-center row offset-lg-1">
    @foreach (var doctor in Model.Doctors)
    {
        <partial name="_DoctorUserPartial" model="@doctor" />
    }
</div>

<div class="row mt-2 col-12">
    <div class="col-lg-2 col-sm-2">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="User"
           asp-action="UserBoard"
           asp-route-currentPage="@previousPage">Previous</a>
    </div>
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Doctors.Any();
    }
    <div class="offset-lg-9 offset-sm-9 col-lg-1 col-sm-1">
        <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="User"
           asp-action="UserBoard"
           asp-route-currentPage="@(Model.CurrentPage+1)">Next</a>
    </div>
</div>
