@model DoctorExaminationInfo

<h3 class="display-4 text-center">@ViewData["Title"] @Model.DoctorStatistics.DoctorFullName</h3>

<div class="row mt-5">
    
    <div class=col-4>
        <article class="info">
            <figure class="icon"><img src="~/images/examination.jpg" alt=""></figure>

            <p class="text-center">
                <em>
                    @Model.DoctorStatistics.Examinations<br />
                    <span>Извършени прегледа</span>
                    </em>
                </p>
        </article>
    </div>
    <div class=col-4>
        <article class="info">
            <figure class="icon"><img src="~/images/allexamination.jpg" alt=""></figure>
            <p class="text-center">
                <em>@Model.DoctorStatistics.AllExaminations</em> <br />
                <em><span>Записани за преглед</span></em>
            </p>
        </article>
    </div>
    <div class=col-4>
        <article class="info">
            <figure class="icon"><a asp-controller="Review" asp-action="AllReceiveReview"><img src="~/images/star.jpg" alt="Всички оценки" style="padding-left:15px"></a></figure>
            <p class="text-center">
                <em>@Model.DoctorStatistics.Rating/@Model.DoctorStatistics.RatingUser</em> <br />
                <em><span>Рейтинг</span></em>
            </p>
        </article>
    </div>
</div>

<table class="table table table-bordered">
    <thead style="background-color:#e6e6e6">
        <tr>
            <th scope="col" class="text-center">Дата</th>
            <th scope="col" class="text-center">Час</th>
            <th scope="col" class="text-center">Име на пациент</th>
            <th scope="col" class="text-center">Телефон</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var examination in Model.DoctorExaminations)
        {
            <tr>
                <th scope="row" class="text-center">@examination.Date</th>
                <th scope="row" class="text-center">@examination.Hour</th>
                <th scope="row" class="text-center">@examination.UserFullName</th>
                <th scope="row" class="text-center">@examination.UserPhoneNumber</th>
            </tr>
        }
    </tbody>
</table>