@model DashboardExaminationViewModel

<tr>
    <td scope="col">@Model.DoctorFullName</td>
    <td scope="col">@Model.SpecialityName</td>
    <td scope="col">@Model.PatientFullName</td>
    <td scope="col" class="text-center">@Model.ExaminationDate @Model.ExaminationHour</td>
</tr>
