@model DashboardLaborantViewModel

@{
    string date = Model.OutOnDate == null ? "Now" : Model.OutOnDate;
}

<tr>
    <td scope="col">@Model.FirstName @Model.LastName</td>
    <td scope="col">@Model.Egn</td>
    <td scope="col" class="text-center">@Model.PhoneNumber</td>
    <td scope="col" class="text-center">@Model.JoinOnDate</td>
    <td scope="col" class="text-center">
        <form asp-controller="Administrator" asp-action="EditLaborant" method="get">
            <input name="id" type="hidden" value="@Model.Id">
            <button type="submit" class="btn btn-warning">Редакция</button>
        </form>
    </td>
    <td scope="col" class="text-center">
        <form asp-controller="Administrator" asp-action="DeleteLaborant" asp-route-id="@Model.Id">
            <input name="id" type="hidden" value="@Model.Id">
            <input type="submit" value="Изтриване" class="btn btn-danger" onclick="myConfirm(event)" />
        </form>
    </td>
</tr>