@model DashboardUserViewModel

<tr>
    <td scope="col">@Model.FirstName @Model.LastName</td>
    <td scope="col">@Model.Username</td>
    <td scope="col">@Model.Email</td>
    <td scope="col" class="text-center">@Model.PhoneNumber</td>
    <td scope="col" class="text-center">@Model.JoinOnDate</td>
</tr>

