@model DashboardStatisticAdminViewModel

<h4 class="display-4 text-center">Медицински център</h4>
<p class="display-6 text-center">Администраторски панел</p>
<hr />
@section Styles {
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

<div class="row">
    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-info">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>Добави</h3>
                        <p>доктор</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="SearchDoctor" class="small-box-footer">Добави <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-success">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllDoctorCount</h3>
                        <p>доктори в базата</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllDoctor" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-warning">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllDoctorOutCount</h3>
                        <p>изтрити доктори</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllDoctorOut" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-danger">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllUserCount</h3>
                        <p>потребител/и</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllUser" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-secondary">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllReviews<sup style="font-size: 20px">/@Model.AllExamination</sup></h3>
                        <p>отзиви</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-comments"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Review" asp-action="AllReview" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-teal">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllPastExamination</h3>
                        <p>извършени</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllPastExamination" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-orange">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllFutureExamination</h3>
                        <p>предстоящи</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-list"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllFutureExamination" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-4">
        <div class="small-box bg-gradient-fuchsia">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllFutureExamination</h3>
                        <p>статистика</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="StatisticData" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>

<div class="row mt-2" style="padding-top:20px;">
    <div class="offset-2 col-4">
        <article class="info">
            <figure class="icon text-center"><img src="~/images/award.png" alt=""></figure>
            <p class="text-center">
                <em>
                    <span>Най-добре оценен</span><br />
                </em>
            </p>
            <p class="text-center" id="best-rating-doctorname"></p>
            <p class="text-center">
                <span class="text-center">    
                    @{
                        int rating = (int)Model.BestDoctorRating;
                    }

                    @for (var i = 1; i <= 5; i++)
                    {
                        if (i <= rating)
                        {
                            <img src="~/images/star-fill.png" alt="">
                        }
                        else
                        {
                            <img src="~/images/star-not.png" alt="">
                        }
                    }
                </span>
                <span class="text-center">  </span>
                <span class="text-center" id="best-rating-doctor"></span>
            </p>

            

            @*@Model.BestRatingDoctorFullName - @Model.BestDoctorRating*@
        </article>
    </div>
    <div class="col-4">
        <article class="info">
            <figure class="icon text-center"><img src="~/images/examination.jpg" alt=""></figure>
            <p class="text-center">
                <em>
                    <span>Най-много прегледи от</span><br />
                </em>
            </p>
            <p class="text-center" id="best-examination-doctorname"></p>
            <p class="text-center" id="best-examination-count"></p>
            @*@Model.BestExaminationDoctorFullName - @Model.BestExaminationCount*@
        </article>
    </div>
</div>

@section Scripts{
<script>
    $.get('https://localhost:7183/api/statisticAdminMedical',(data)=>{
        //console.log(data);
        $('#best-rating-doctorname').text(data.bestRatingDoctorFullName);
        $('#best-rating-doctor').text(data.bestDoctorRating);
        $('#best-examination-doctorname').text(data.bestExaminationDoctorFullName);
        $('#best-examination-count').text(data.bestExaminationCount)
    });
</script>
}
